.country {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  width: 100%;
  text-transform: uppercase;
}

.flag {
  width: 70%;
}

.languages,
.domains {
  display: flex;
  align-items: center;
}

.lang,
.domain {
  color: var(--color-primary);
  margin: 0 4px;
  cursor: pointer;
}

.lang::after,
.domain::after {
  content: ",";
}

.lang:last-child::after,
.domain:last-child::after {
  content: "";
}
