@import "./fonts.css";

:root {
  --color-white: #ffffff;
  --color-gray: #f9fafc;
  --color-silver: #cbd7ee;
  --color-primary: #37b899;
  --color-primary-darken: #2aa387;
  --color-black: #1c1c1c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100%;
  width: 100%;
}

body {
  background: var(--color-white);
  font-family: "DIN Round Pro";
  color: var(--color-black);
}

#__next {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

input,
button {
  background: transparent;
  border: none;
  outline: none;
}

input:active,
input:focus,
button:active,
button:focus {
  outline: none;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary-darken);
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 90%;
  max-width: 720px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  margin-bottom: 0.35rem;
}
