.results {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--color-white);
  top: 40px;
  width: 100%;
  padding-left: 18px;
  border: 2px solid var(--color-silver);
  border-top-color: var(--color-white);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  position: absolute;
}

.item {
  color: var(--color-black);
  min-height: 28px;
  cursor: pointer;
}
