.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-bottom: 6rem;
  position: relative;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  width: 100%;
  padding: 0 18px;
  border: 2px solid var(--color-silver);
  border-radius: 24px;
}

.search[is-active="active"] {
  border-bottom-color: var(--color-white);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.input {
  height: 100%;
  width: 100%;
}

.icon {
  opacity: 0.75;
  cursor: pointer;
}
